.error-message{
  margin:auto;
  text-align: center;

  margin-top: 20px;

  background-color: #ff555588;

  width: fit-content;
  padding: 10px ;

  border-radius: 20px;

  color:white;
}

.success-message{
  margin:auto;
  text-align: center;

  margin-top: 20px;

  background-color: #55ff5588;

  width: fit-content;
  padding: 10px ;

  border-radius: 20px;

  color:white;
}